<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.burn.burningcalories.dao.FoodMapper">
  <resultMap id="BaseResultMap" type="com.burn.burningcalories.domain.Food">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="foodname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_method" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="food_image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="calories" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="food_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>


  <sql id="Base_Column_List">
    id,user_id,foodname,update_method,food_image,calories,type,food_time,create_time
  </sql>

  <insert id="insert" parameterType="com.burn.burningcalories.domain.Food">
    insert into burning_food (id, user_id, foodname, 
      update_method, food_image, calories, 
      type, food_time, create_time
      )
    values (default , #{userId,jdbcType=INTEGER}, #{foodname,jdbcType=VARCHAR},
      #{updateMethod,jdbcType=INTEGER}, #{foodImage,jdbcType=VARCHAR}, #{calories,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{foodTime,jdbcType=TIMESTAMP}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.burn.burningcalories.domain.Food">
    insert into burning_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="foodname != null">
        foodname,
      </if>
      <if test="updateMethod != null">
        update_method,
      </if>
      <if test="foodImage != null">
        food_image,
      </if>
      <if test="calories != null">
        calories,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="foodTime != null">
        food_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="foodname != null">
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="updateMethod != null">
        #{updateMethod,jdbcType=INTEGER},
      </if>
      <if test="foodImage != null">
        #{foodImage,jdbcType=VARCHAR},
      </if>
      <if test="calories != null">
        #{calories,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="foodTime != null">
        #{foodTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getFoodInfo" parameterType="integer" resultMap="BaseResultMap" resultType="list">
    select
    <include refid="Base_Column_List"/>
    from burning_food
    where user_id = #{userId}
  </select>


</mapper>